.navigation{
    position: absolute;
    margin-top: 10px;
    margin-left: 91.5vw;
    width: 100px;
    display: flex;flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background-color: azure;
}
.menuItem{
    position: relative;
    height: 50px;
    width: 80px;
}
.menuItem a{
    text-decoration: none;
    color: black;
    width: 100px;
    height: 100%;
    font-size: 18px;
}
body{
    padding: 0;
}